openai==1.54.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
sentence-transformers==3.2.1
datasets==3.0.2
huggingface-hub==0.26.2
gradio==5.5.0
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
python-dotenv==1.0.1
tqdm==4.66.5
kaggle==1.6.17
